@import "helpers"

// Component style
.app-wrapper
  min-width: 100vw
  width: 100%
  min-height: 100vh
  height: 100%
  gap: 24px
  +dfx(column, center, stretch)
  // Footer
  app-footer
    margin-top: auto
